jupyter 
pandas 
html5lib 
seaborn 
matplotlib         # to avoid MatplotlibDeprecationWarning
nltk==3.3 
tqdm
seqeval 
transformers
sentencepiece
mxnet
gluonnlp==0.8.0 # 이버전으로 할시 사용가능 
scikit-learn   # package name registered in PyPI.org
wordcloud
gensim
xgboost
wget
tokenizers
tensorflow
h5py             # to avoid issue https://github.com/keras-team/keras/issues/14265
konlpy
beautifulsoup4
kaggle
numpy           # to avoid issue https://stackoverflow.com/questions/55890813/how-to-fix-object-arrays-cannot-be-loaded-when-allow-pickle-false-for-imdb-loa
